.header{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    border: 1px solid #CA35F7;
    box-shadow: 0px 40px 40px 0px #00000029;
    border-radius: 53px;
    height: 112px;

}
.search_button{
    padding: 16px;
    border-radius: 40px;
    background: var(--primary-color-1);
    box-shadow: 0px 16px 16px 4px #0000001F;
    border: none;
    font-size: 18px;
    font-weight: 500;
    width: 150px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_input{
    height: 48px;
    width: 460px;
    border-radius: 80px;
    border: 1px solid #FFFFFF26;
    background: linear-gradient(0deg, rgba(31, 31, 31, 0.4), rgba(31, 31, 31, 0.4)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    font-size: 24px;
    font-weight: 500;
    padding: 8px 24px;
    box-sizing: border-box;
}
.search_input:focus-visible{
    outline: none;

}
.header_search{
    display: flex;
    gap: 16px;
}

/* Tablets */

@media (min-width: 768px) and (max-width:991px) { 
    .logo{
        width: 140px;
        height: 100%;
    }
    .header{
        padding: 24px;
    }
    .search_input{
        width: 280px;
        font-size: 20px;
    }
 }

 @media (max-width: 767px){
    .header{
        padding: 16px;
    }
    .logo{
        width: 100px;
        height: 100%;
    }
    .header_search{
        gap: 8px;
    }
    .search_button{
        display: none;
        /* height: 36px; */
    }
    .mobile_search_button{
        padding: 16px;
        border-radius: 40px;
        background: var(--primary-color-1);
        box-shadow: 0px 16px 16px 4px #0000001F;
        border: none;
        font-family: "Roboto";
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search_input{
        width: 140px;
        height: 36px;
        font-size: 20px;
        padding: 8px 16px;
    }

 }