:root {
 
  line-height: 1.5;


  color-scheme: light dark;
  color: #C4C4C4;
  background: linear-gradient(112.68deg, #23293E 0%, #1D1D1D 57.46%) !important;
  
  font-family: "roboto" !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color-1: #e10856;
  
}

body{
  color: #C4C4C4 !important;
  background-color: transparent !important;
  margin: 0px;
  font-family: 'roboto',sans-serif !important;
  
}
h1{
  font-size: 56px;
  margin: 0px;
}
h3{
  font-size: 32px;
  line-height: 40px;
}
h4{
  font-size: 24px;
  line-height: 32px;
}
h5{
  font-size: 18px;
  line-height: 24px;
  margin: 0px !important;
}
a{
  color: #C4C4C4 !important;
}
p,h4,h1,h2,h3,h5{
  margin: 0px !important;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
